package ${company_domain}.${project_basepkg}.config;

import ${company_domain}.${project_basepkg}.util.common.${project_name}Config;
import ${company_domain}.${project_basepkg}.base.interceptor.SsoSecurityInterceptor;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import org.springframework.web.servlet.config.annotation.InterceptorRegistry;
import org.springframework.web.servlet.config.annotation.ResourceHandlerRegistry;
import org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter;


@Component
public class WebMvcConfig extends WebMvcConfigurerAdapter {

    @Autowired
    private ${project_name}Config ${project_name_var}Config;

    @Override
    public void addInterceptors(InterceptorRegistry registry) {
    	if("local".equals(${project_name_var}Config.getEnvironment()) || "dev".equals(${project_name_var}Config.getEnvironment())){
    	}else{
          registry.addInterceptor(new SsoSecurityInterceptor())
          .addPathPatterns(${project_name}APIConstants.API_MODULE + ${project_name}APIConstants.API_VERSION_V1 + "/**")
          .excludePathPatterns(${project_name}APIConstants.API_MODULE + ${project_name}APIConstants.API_VERSION_V1 + "/sso/**");
    	}
    }

    @Override
    public void addResourceHandlers(ResourceHandlerRegistry registry) {
        registry.addResourceHandler("/static/**").addResourceLocations("classpath:/static/");
        registry.addResourceHandler("/html/**").addResourceLocations("classpath:/html/");
    }

}
