package ${company_domain}.${project_basepkg}.entity.${subPkg}.dto.response;

import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import ${company_domain}.${project_basepkg}.entity.base.dto.response.BaseResponse;
import ${company_domain}.${project_basepkg}.entity.${subPkg}.dto.${entity}DTO;
import io.swagger.annotations.ApiModel;
import lombok.Data;


@ApiModel("${tableRemarks}查询返回")
@Data
public class ${entity}Response extends BaseResponse {

	private static final long serialVersionUID = 7178606697593220677L;

	private ${entity}DTO data;

}
